<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DMS.DesktopApp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="DMSDesktopApp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <DMS.DesktopApp.Properties.Settings>
            <setting name="ServerName" serializeAs="String">
                <value />
            </setting>
            <setting name="Database" serializeAs="String">
                <value />
            </setting>
            <setting name="UID" serializeAs="String">
                <value />
            </setting>
            <setting name="Password" serializeAs="String">
                <value />
            </setting>
            <setting name="AutoSave" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Email" serializeAs="String">
                <value />
            </setting>
            <setting name="CleanColor" serializeAs="String">
                <value />
            </setting>
            <setting name="BlackAndWhiteValue" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DriveLetter" serializeAs="String">
                <value>Y</value>
            </setting>
            <setting name="BlankPageSize" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Title" serializeAs="String">
                <value>DCS Workflow</value>
            </setting>
            <setting name="GetSyncDataUrl" serializeAs="String">
                <value>api/DataSync/Sync</value>
            </setting>
            <setting name="BaseUrl" serializeAs="String">
                <value>https://localhost:44398/</value>
            </setting>
        </DMS.DesktopApp.Properties.Settings>
        <DMSDesktopApp.Properties.Settings>
            <setting name="ServerName" serializeAs="String">
                <value />
            </setting>
            <setting name="Database" serializeAs="String">
                <value />
            </setting>
            <setting name="UID" serializeAs="String">
                <value />
            </setting>
            <setting name="Password" serializeAs="String">
                <value />
            </setting>
        </DMSDesktopApp.Properties.Settings>
    </userSettings>
</configuration>